<h1>Create a new fish</h1>

<form method="post" action="/create_new_fish">
  <label for="name">Fish Name:</label><br><input id="name" name="name">
  <br>
  <label for="watertype">Watertype:</label><br><input type="text" id="watertype" name="watertype">
  <br>
  <label for="description">Describe the fish:</label><br><input type="textarea" id="description" name="description">
  <br>
  <label for="imageurl">Include an image url:</label><br><input type="text" id="imageurl" name="imageurl">
  <br>
  <button>Submit</button>
</form>